h1 {
    font-size: 60px;
    text-align: center;
}

.main {
    width: 600px ;
    margin-left: auto ;
    margin-right: auto ;
}

.peg {
    height: 150px;
    width: 200px;
    float: left;
    position: relative;
    text-align: center;
}

.peg:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 95px;
    border-left: 10px solid #000;
    border-radius: 5px 5px 0 0;
}

.disc {
    position: relative;
    top: 105px;
    margin: 0 auto;
    height: 15px;
    border-radius: 5px;
}

.d3 {
    background-color: red;
    width: 150px;
}

.d2 {
    background-color: green;
    width: 100px;
}

.d1 {
    background-color: blue;
    width: 50px;
}

.group:after {
    content: "";
    display: block;
    clear: both;
}

.play-again {
    height: 30px;
    width: 78px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
